<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>858334527564-2in043fhpaps745f998rn759srnoshsf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858334527564-2in043fhpaps745f998rn759srnoshsf</string>
	<key>API_KEY</key>
	<string>AIzaSyB0XejM-klEBH9IXqj9yCZVYZvphJ3XJpw</string>
	<key>GCM_SENDER_ID</key>
	<string>858334527564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jwitapps.ORM</string>
	<key>PROJECT_ID</key>
	<string>the-one-rep-max-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>the-one-rep-max-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:858334527564:ios:5849f28dc8d3f468</string>
	<key>DATABASE_URL</key>
	<string>https://the-one-rep-max-staging.firebaseio.com</string>
</dict>
</plist>