<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>383698956112-e1dmjor11bn2btnimponumel0b92g91d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383698956112-e1dmjor11bn2btnimponumel0b92g91d</string>
	<key>API_KEY</key>
	<string>AIzaSyA8v2k7--x311lZ8Q96stRm80VVd2DrnLM</string>
	<key>GCM_SENDER_ID</key>
	<string>383698956112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jwitapps.ORM</string>
	<key>PROJECT_ID</key>
	<string>the-one-rep-max-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>the-one-rep-max-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:383698956112:ios:5849f28dc8d3f468</string>
	<key>DATABASE_URL</key>
	<string>https://the-one-rep-max-dev.firebaseio.com</string>
</dict>
</plist>
