<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>154349200914-3fb4f2asqu6snvcp94o1uepqg3mfbpfr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154349200914-3fb4f2asqu6snvcp94o1uepqg3mfbpfr</string>
	<key>API_KEY</key>
	<string>AIzaSyD2pJjdl6yrA89S-m6jziFm5JXF7Fd7MyE</string>
	<key>GCM_SENDER_ID</key>
	<string>154349200914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jwitapps.ORM</string>
	<key>PROJECT_ID</key>
	<string>the-one-rep-max-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>the-one-rep-max-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:154349200914:ios:5849f28dc8d3f468</string>
	<key>DATABASE_URL</key>
	<string>https://the-one-rep-max-prod.firebaseio.com</string>
</dict>
</plist>
