<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InterfaceItems.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>TheOneRepMax-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TheOneRepMax.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8B13A79D1B731B7D00E5688C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B13A7AD1B731B7E00E5688C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B13A7B81B731B7E00E5688C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B7123CD1BA764DE0083980E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B7123E51BA764DE0083980E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B7123F01BA764DE0083980E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BD343D41B2ACE8800A7D36D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BD343DE1B2ACE8800A7D36D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BDD08911BD149A800AD2D44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BDD089A1BD149A800AD2D44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BF343561B27FA08007CBF44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BF3436B1B27FA08007CBF44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
